/* contenedor principal */

.cloud-container {
  position: fixed;
  inset: 0;
  background: #f8e4c9;
  overflow: hidden;
}

/* imagen de nubes */

.cloud-image {
  object-fit: cover;
  z-index: 1;
  transition: transform 2.5s ease-in-out;
}

/* cuando entra */

.cloud-container.entered .cloud-image {
  transform: scale(1.2);
}

/* texto */

.enter-text {

  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  font-size: 72px; /* más grande */
  letter-spacing: 3px;

  color: #6b4f3a;

  cursor: pointer;

  opacity: 0;

  text-align: center;

  z-index: 10000;

  /* animación mágica */
  animation: magicFade 3s ease forwards;

  /* brillo mágico */
  text-shadow:
    0 0 5px rgba(255,255,255,0.8),
    0 0 15px rgba(255,255,255,0.6),
    0 0 30px rgba(255,255,255,0.4),
    0 0 60px rgba(255,255,255,0.2);

}

/* animación aparición mágica */

@keyframes magicFade {

  0% {
    opacity: 0;
    transform: translate(-50%, -60%) scale(0.95);
    filter: blur(6px);
  }

  50% {
    opacity: 0.7;
    filter: blur(2px);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    filter: blur(0);
  }

}

/* hover elegante */

.enter-text:hover {

  transform: translate(-50%, -50%) scale(1.08);

  text-shadow:
    0 0 10px rgba(255,255,255,1),
    0 0 25px rgba(255,255,255,0.8),
    0 0 50px rgba(255,255,255,0.6);

}